body {
  background-image: url("https://i.pinimg.com/originals/e2/71/fd/e271fda72f1e158b5f0569cc72d36d7f.jpg");
}
section {
  display: flex;
  justify-content: space-between;
  margin: 200px;
}
